
{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

<a href="{{ product.url | within: collection }}" class="ot-product style2  wow fadeInUp  {% if sold_out %} soldout-p {% endif%}" data-wow-delay="0.2s">
    <div class="product-img">
      


      


   <img src="{{ product.featured_media | img_url:'' }}" alt="">
 
   
  
  {% if  product.media[1].src != blank %}
    {{ product.media[1].src | image_url: width: 350 | image_tag:
      loading: 'lazy',
      height: height,
      format: 'webp',
      class:'hover-img',
      widths: '250, 350,'
    }} 
  {% endif %}

        {% if sold_out %}
          <span class="tag ot-btn gs3-soldout-badge">Sold out</span>
          {% endif %}


      
 


      {% if sold_out %}
        <span class="tag ot-btn gs3-soldout-badge">Sold out</span>
        {% endif %}


    </div>
    <div class="product-content">
        <p class="subtitle">{{product.vendor}}</p>
        <h3 class="product-title">{{ product.title }}</h3>
        <p class="price">{{ product.price | money }}</p>
    </div>
</a>
