{%- style -%}
  .section-{{ section.id }}-padding {
    color: {{ section.settings.color }};
    background-color: {{ section.settings.background }};
    border-color: {{ section.settings.border_color }};
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-marquee section-{{ section.id }}-padding
    {% if section.settings.hide_desktop %}
        large-hide
    {% endif %}
    {% if section.settings.hide_mobile %}
        small-hide
    {% endif %}
    ">
    {% if section.blocks.size > 1 %}
        <div class="block-marquee">
            <marquee-text
            class="marquee-scrolling__list items"
            scrolling-speed="10">
                {% for block in section.blocks %}
                    {% if block.settings.text_first != blank %}
                        <span class="item">
                            <p class="bold text-base">
                                {{ block.settings.text_first }}
                            </p>
                            <span class="shape-circle shape--sm"></span>
                            <p class="bold text-base">
                                {{ block.settings.text_last }}
                            </p>
                            <span class="shape-circle shape--sm"></span>
                        </span>
                    {% endif %}
                {% endfor %}
            </marquee-text>
        </div>
    {% endif %}
</div>

{% schema %}
  {
    "name": "Collection Refresh",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
        }
    ],
    "presets": [
      {
        "category": "text",
        "name": "Collection Refresh",
        "settings": {}
      }
    ]
  }
{% endschema %}
