    <!--======== / Hero Section ========-->
    <div class="d-none d-md-block">
        <!-- Notice Area -->
        <div class="notice-area">
            <div class="notice-scroll-wrap">
                <div class="notice-scroll">
                  
               
                    <p class="offer-notice"><a href="#">{{ settings.text1 }}</a></p>
                    <p class="offer-notice"><a href="#">{{ settings.text2 }}</a></p>
                    <p class="offer-notice"><a href="#">{{ settings.text3 }}</a></p>
                    <p class="offer-notice"><a href="#">{{ settings.text4 }}</a></p>
                    <p class="offer-notice"><a href="#">{{ settings.text5 }}</a></p>
                    <p class="offer-notice"><a href="#">{{ settings.text6 }}</a></p>
                    <p class="offer-notice"><a href="#">{{ settings.text7 }}</a></p>


                </div>
            </div>
        </div>
    </div>


    {% schema %}
    {
        "name": "Running Slide",
        "class": "Running_Slide",
        "presets": [
            {
              "name": "Running Slide"
            }
            ]
    }
{% endschema %}