<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  {% comment %} .ot-product .price{
   margin:0;
  } {% endcomment %}
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>
    <!--==============================
    Featured Area
============================== -->
<div class="section-{{ section.id }}-padding">
  <div class="container">
      <div class="splide" id="product-slidertwo">
          <div class="splide__track">
              <div class="splide__list">
              
                {% assign collection = collections[section.settings.collection] %}
                {% for product in collection.products limit: section.settings.p_limit %}
                  {% assign sold_out = true %}
                  {% if product.available %}
                  {% assign sold_out = false %}
                  {% endif %}

               
                  <div class="splide__slide">
                      <div class="ot-product  wow fadeInUp" data-wow-delay="0.2s">
                        <a href="{{ product.url | within: collection }}" class="product-img">
                        {% if product.images.size > 1 %}
           
                          {% for image in product.images limit: 2 %}
               

                    {% if forloop.index == 1 %}
                    
                            {{ image | image_url: width: 350 | image_tag:
                              loading: 'lazy',
                              height: height,
                  
                              widths: '250, 350,'
                            }}
                             {% else %}  

                             {{ image | image_url: width: 350 | image_tag:
                              loading: 'lazy',
                              height: height,
                              class:'hover-img',
                              widths: '250, 350,'
                            }}
                           {% endif %} 
                          
                           {% if sold_out %}
                            <span class="tag ot-btn">Sold out</span>
                            {% endif %}

                          {% endfor %}
                          
                          {% else %}

                          {{ product.featured_image.src | image_url: width: 350 | image_tag:
                            loading: 'lazy',
                            height: height,
                      
                            widths: '250, 350,'
                          }}

                          {% if sold_out %}
                            <span class="tag ot-btn">Sold out</span>
                            {% endif %}

                          {% endif %}
                        </a>
                   {% comment %} {% if product.images.size > 1 %}
  <img class="primary-image" alt="" src="{{ product.featured_image.src | img_url: 'large' }}">
  {% for image in product.images limit: 1 offset: 1 %}
  <img class="secondry-image" alt="" src="{{ image.src | img_url: 'large' }}">
  {% endfor %}
  {% else %}
  <img class="" alt="" src="{{ product.featured_image.src | img_url: 'large' }}">
  {% endif %} {% endcomment %}
                        <div class="product-content">
                          <p class="subtitle">{{product.vendor}}</p>
                          <h3 class="product-title">{{ product.title }}</h3>
                          <p class="price">{{ product.price | money }}</p>
                      </div>

                    </div>
                  </div>


              

                {% endfor %}

               

              </div>
          </div>
      </div>
  </div>
</div>



{% schema %}
    {
        "name": "Featued Product two",
        "class": "product01",
        "settings": [
          {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 0
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 0
          },
         {
            "type": "collection",
            "id": "collection",
            "label": "Select your Collection"
         },
         {
          "type": "text",
          "id": "p_limit",
          "label": "Product Limite",
          "placeholder": "5"
         }
        ],
        "presets": [
            {
              "name": "Featued Product two"
            }
            ]
    }
{% endschema %}
