<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>
    <!--==============================
    Featured Area
============================== -->
<div class="section-{{ section.id }}-padding">
  <div class="container">
      <div class="splide" id="product-slider1">
          <div class="splide__track">
              <div class="splide__list">
              
                {% assign collection = collections[section.settings.collection] %}
                {% for product in collection.products limit: section.settings.p_limit %}
                  {% assign sold_out = true %}
                  {% if product.available %}
                  {% assign sold_out = false %}
                  {% endif %}

                
                  <div class="splide__slide">
                      <a href="{{ product.url }}" class="ot-product style2  wow fadeInUp" data-wow-delay="0.2s">
                          <div class="product-img">
                              <img src="assets/img/product/product_3_2.jpg" alt="Product Image">
                              {{ product.settings.img | image_url: width: 330 | image_tag:
                           
                                height: height,
                                sizes: "100vw",
                                widths: '250, 330,'
                              }}
                          </div>
                          <div class="product-content">
                              <p class="subtitle">{{proudct.vendor}}</p>
                              <h3 class="product-title">{{proudct.title}}</h3>
                              <p class="price">{{ product.price | money }}</p>
                          </div>
                      </a>
                  </div>


              

                  <div class="splide__slide">
                      <a href="shop-details.html" class="ot-product style2 sold-out wow fadeInUp" data-wow-delay="0.7s">
                          <div class="product-img">
                              <img src="assets/img/product/product_3_7.jpg" alt="Product Image">
                              <span class="tag ot-btn">Sold out</span>
                          </div>
                          <div class="product-content">
                              <p class="subtitle">LVIR</p>
                              <h3 class="product-title">DOUBLE STRING KNIT SLEEVELESS (ORANGE)</h3>
                              <p class="price">135,000원</p>
                          </div>
                      </a>
                  </div>
                {% endfor %}

               

              </div>
          </div>
      </div>
  </div>
</div>



{% schema %}
    {
        "name": "Featued Product One",
        "class": "product01",
        "settings": [
          {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 0
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 0
          },
         {
            "type": "collection",
            "id": "collection",
            "label": "Select your Collection"
         },
         {
          "type": "text",
          "id": "p_limit",
          "label": "Product Limite",
          "placeholder": "5"
         }
        ],
        "presets": [
            {
              "name": "Featued Product One"
            }
            ]
    }
{% endschema %}
